/* eslint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Pretendard';
  }
}

@layer components {
  .primaryFocusVisible {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-state-accent;
  }
  .PrimaryFocus {
    @apply focus:outline-none focus:outline-2 focus:outline-state-accent;
  }
  .a11yHidden {
    @apply overflow-hidden absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
  }
}
