/* eslint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Pretendard';
  }
  header + * {
    @apply pt-16;
  }
}

@layer components {
  .primaryFocusVisible {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-state-accent;
  }
  .PrimaryFocus {
    @apply focus:outline-none focus:outline-2 focus:outline-state-accent;
  }
  .a11yHidden {
    @apply overflow-hidden absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
  }
  .mypageWrapper {
    @apply flex items-center justify-between;
  }
  .spinner div {
    @apply absolute w-14 h-14;
    @apply ml-5;
    @apply border-8 border-neutral-400 border-t-transparent rounded-full;
  }

  .spinner div {
    @apply animate-spin;
    @apply top-24 left-24;
  }

  .spinnerRolling {
    @apply w-full h-48 inline-block;
    @apply overflow-hidden;
    @apply bg-transparent;
  }
  .spinner {
    @apply w-full h-full;
    @apply relative;
    @apply scale-100;
    transform: translateZ(0);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .spinner div {
    @apply box-content;
  }
}

/* @keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
} */
